@model List<TSTB.BLL.DTOs.NewsModelDTO.NewsDTO>
@using TSTB.Web
@using TSTB.BLL.DTOs.LanguageDTO
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using TSTB.Web.Extensions

@{
    Layout = "/Views/PressReleases/Layout.cshtml";
    ViewData["Title"] = SharedLocalizer["Press releases"];

    int CurrentCatId = ViewBag.CatId;
    DateTime currentDateFilter = ViewBag.DateFilter;

    int currentIndex;
    if (currentDateFilter.Year > 2001)
        currentIndex = 0;
    else
        currentIndex = 1;
    DateTime d = new DateTime();
}

@section Css{
    <link href="~/css/default.css" rel="stylesheet" />
    <link href="~/css/default.date.css" rel="stylesheet" />
}

<div class="sm:mt-10 mt-4 pb-10 flex flex-wrap">
    @foreach (TSTB.BLL.DTOs.NewsModelDTO.NewsCategoryDTO newsCategoryDTO in ViewBag.NewsCategories)
    {
        <span class="tag" id="@newsCategoryDTO.Id+'_'">
            <a asp-area="" asp-controller="News" asp-action="Index" asp-route-catId="@newsCategoryDTO.Id" asp-route-filterDate="@currentDateFilter.ToShortDateString()" class="lg:mr-8 mr-3 hover:text-link">@newsCategoryDTO.Name</a>
        </span>
    }
    <form asp-area="" asp-controller="News" asp-action="Index" asp-route-catId="@CurrentCatId">
        <span>
            <input id="filterDate"
                   class="datepicker date-input"
                   name="filterDate"
                   type="date"
                   @if (currentDateFilter.Year > 2010) { @: value="@currentDateFilter.ToString("yyyy-MM-dd")"
                   }
                   placeholder="@SharedLocalizer["Date search"]">
        </span>
        <input type="submit" class="btn-filter border-2 inline-flex btn-sm  text-secondary border-secondary rounded hover:bg-secondary hover:text-white" value="@SharedLocalizer["Search"]" />
    </form>
</div>
@if (Model.Count() > 0 && !(ViewBag.DateFilter > @d))
{
    <div class="md:mt-4 sm:mt-2 mt-4">
        @*<div class="flex sm:justify-between sm:items-center relative sm:flex-row flex-col">
                <div class="font-semibold text-sm sm:text-base"> Сегодня, @DateTime.Today.ToString("dd MMMM yyyy") </div>
                <div id="date" data-pmu-format="Y-m-d">
                    <div class="cursor-pointer rounded px-4 py-2 sm:mt-0 mt-2 inline-flex sm:flex items-center">
                        <span class="mr-2 font-semibold"> Фильтр по дате </span>
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" class="calendar-icon">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.40001 2.75001C8.40001 2.25295 7.99706 1.85001 7.50001 1.85001C7.00295 1.85001 6.60001 2.25295 6.60001 2.75001V4.10003H6.00001C3.8461 4.10003 2.10001 5.84612 2.10001 8.00003V18C2.10001 20.1539 3.8461 21.9 6.00001 21.9H18C20.1539 21.9 21.9 20.1539 21.9 18V8.00003C21.9 5.84612 20.1539 4.10003 18 4.10003H17.4V2.75001C17.4 2.25295 16.9971 1.85001 16.5 1.85001C16.0029 1.85001 15.6 2.25295 15.6 2.75001V4.10003H8.40001V2.75001ZM3.90001 18V9.00003H20.1V18C20.1 19.1598 19.1598 20.1 18 20.1H6.00001C4.84021 20.1 3.90001 19.1598 3.90001 18ZM6.75001 10.6C6.25295 10.6 5.85001 11.0029 5.85001 11.5C5.85001 11.9971 6.25295 12.4 6.75001 12.4H8.25001C8.74706 12.4 9.15001 11.9971 9.15001 11.5C9.15001 11.0029 8.74706 10.6 8.25001 10.6H6.75001ZM11.25 10.6C10.7529 10.6 10.35 11.0029 10.35 11.5C10.35 11.9971 10.7529 12.4 11.25 12.4H12.75C13.2471 12.4 13.65 11.9971 13.65 11.5C13.65 11.0029 13.2471 10.6 12.75 10.6H11.25ZM15.75 10.6C15.253 10.6 14.85 11.0029 14.85 11.5C14.85 11.9971 15.253 12.4 15.75 12.4H17.25C17.7471 12.4 18.15 11.9971 18.15 11.5C18.15 11.0029 17.7471 10.6 17.25 10.6H15.75ZM6.75001 13.6C6.25295 13.6 5.85001 14.0029 5.85001 14.5C5.85001 14.9971 6.25295 15.4 6.75001 15.4H8.25001C8.74706 15.4 9.15001 14.9971 9.15001 14.5C9.15001 14.0029 8.74706 13.6 8.25001 13.6H6.75001ZM11.25 13.6C10.7529 13.6 10.35 14.0029 10.35 14.5C10.35 14.9971 10.7529 15.4 11.25 15.4H12.75C13.2471 15.4 13.65 14.9971 13.65 14.5C13.65 14.0029 13.2471 13.6 12.75 13.6H11.25ZM15.75 13.6C15.253 13.6 14.85 14.0029 14.85 14.5C14.85 14.9971 15.253 15.4 15.75 15.4H17.25C17.7471 15.4 18.15 14.9971 18.15 14.5C18.15 14.0029 17.7471 13.6 17.25 13.6H15.75ZM6.75001 16.6C6.25295 16.6 5.85001 17.0029 5.85001 17.5C5.85001 17.9971 6.25295 18.4 6.75001 18.4H8.25001C8.74706 18.4 9.15001 17.9971 9.15001 17.5C9.15001 17.0029 8.74706 16.6 8.25001 16.6H6.75001ZM11.25 16.6C10.7529 16.6 10.35 17.0029 10.35 17.5C10.35 17.9971 10.7529 18.4 11.25 18.4H12.75C13.2471 18.4 13.65 17.9971 13.65 17.5C13.65 17.0029 13.2471 16.6 12.75 16.6H11.25ZM15.75 16.6C15.253 16.6 14.85 17.0029 14.85 17.5C14.85 17.9971 15.253 18.4 15.75 18.4H17.25C17.7471 18.4 18.15 17.9971 18.15 17.5C18.15 17.0029 17.7471 16.6 17.25 16.6H15.75Z" fill="#111c3c"></path>
                        </svg>
                    </div>
                </div>
            </div>*@
        @*<div class="font-semibold text-sm sm:text-base"> Сегодня, @DateTime.Today.ToString("dd MMMM yyyy") </div>*@

        <div class="sm:grid hidden lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-6 gap-x-3 mt-2">
            <div class="xl:col-span-3 lg:col-span-2 lg:h-auto h-64 rounded relative overflow-hidden">
                <img src="/images/News/@Model[0].Image"
                     alt=""
                     class="absolute top-0 left-0 h-full w-full object-cover" />
                <div class="relative z-10 text-white font-semibold p-8 flex flex-col justify-end h-full">
                    <a asp-action="Details" asp-controller="News" asp-route-id="@Model[0].Id" class="mb-5 text-2xl max-w-md cursor-pointer hover:opacity-75 text-shadow">@Model[0].Name</a>
                    <span>@Model[0].DatePublished.ToDateFormat()</span>
                </div>
            </div>
            <div class="pl-2 lg:mt-0 mt-4 md:block hidden">
                <div class="lg:flex lg:flex-col grid grid-cols-3 gap-x-6">
                    @for (int i = 1; i < 4; ++i)
                    {
                        if (Model.Count > i)
                        {
                            <div class="border-b border-gray-200 pb-4 mb-4">
                                <a asp-action="Details" asp-controller="News" asp-route-id="@Model[i].Id" class="select-none hover:text-secondary">
                                    <script>

                                        @{ currentIndex++; }


                                    </script>
                                    @Model[i].Name
                                </a>
                                <span class="mt-6 block opacity-75 text-sm"> @Model[i].DatePublished.ToDateFormat()</span>
                            </div>
                        }
                        else
                        {
                            <script>
                                document.getElementById("more").style.visibility = "hidden";
                            </script>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
<div class="mt-8 mb-16">
    <div id="container" class="grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-y-8 sm:gap-4 pb-8">

        @*@for (int i = 4; i < 12; ++i)
            {
                if (Model.Count > i)
                {
                    <div class="rounded flex flex-col max-w-xs relative overflow-hidden">
                        <img src="/images/News/@Model[i].Image" alt="" class="object-cover" />
                        <a asp-action="Details" asp-controller="News" asp-route-id="@Model[i].Id" class="md:mt-5 md:mb-3 mt-2 mb-1 font-semibold hover:text-link">
                            @Model[i].Name
                        </a>
                        <span class="opacity-50"> @Model[i].DatePublished.ToString("dd MMMM yyyy")</span>
                    </div>
                    <script>
                                            @{ currentIndex++; }
                    </script>
                }
                else
                {
                    <script>
                        document.getElementById("more").style.visibility = "hidden";
                    </script>
                }
            }*@

    </div>

    <a onclick="GetData()" id="more" class="py-2 px-2 text-center block border rounded border-link text-link hover:bg-link hover:text-white">
        @SharedLocalizer["Show more"]
    </a>
</div>



@section Scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    @*<script src="~/Scripts/jquery-1.5.1.js"></script>*@
    <script src="~/js/picker.js"></script>
    <script src="~/js/picker.date.js"></script>
    <script src="~/js/legacy.js"></script>

    <script type="text/javascript">

        var $input = $('.datepicker').pickadate({
            formatSubmit: 'yyyy/mm/dd',
            // editable: true,
            closeOnSelect: true,
            closeOnClear: true,

        })

        var picker = $input.pickadate('picker');
        @*@if (currentDateFilter.Year > 2001) {

                        @:picker.set('select', '@currentDateFilter.Day @currentDateFilter.ToString("MMMM", new CultureInfo("en-GB")), @currentDateFilter.Year')
            }*@
        //picker.open()

        $('button').on('click', function () {
                        picker.set('disable', true);

                    });


                    document.getElementById("News").className = "tag tag--active";
                    if (@ViewBag.CatId > 0) {
                        document.getElementById("@ViewBag.CatId+'_'").className = "tag tag--active";
                    }
                    var pageSize = @currentIndex;
                    var pageCount = 1;
        $(document).ready(function () {
                        GetData();
                    });

                    function GetData() {

            $.ajax({
                        type: 'GET',
                url: '/News/GetData',
                data: { "pageSize": pageSize, "pageCount": pageCount, "catId":@CurrentCatId, "filterDate":'@currentDateFilter.ToShortDateString()' },
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        var isEmpty = true;
                        for (var i = 0; i < data.length; i++) {

                            isEmpty = false;
                            $("#container").append("<div class=\" rounded flex flex-col max-w-xs relative overflow-hidden\"> <a href=\"/News/Details?id=" + data[i].Id + "\" class='news-card'> <img src=/images/News/" + data[i].Image + " alt=\"\" class=\"object-cover\" /> </a> <a href=\"/News/Details?id=" + data[i].Id + "\" class=\"md:mt-5 md:mb-3 mt-2 mb-1 font-semibold hover:text-link\">"
                                + data[i].Name + "</a> <span class=\"opacity-50\">" + data[i].ShortDate + "</span> </div>");
                            pageSize++;

                        }
                        if (isEmpty) {
                            document.getElementById("more").style.visibility = "hidden";
                        } else {
                            pageCount++;
                        }
                    } else {
                        document.getElementById("more").style.visibility = "hidden";
                    }
                },

                error: function () {
                    alert("Error while retrieving data!");
                }
            });
        }
    </script>
}