@model TSTB.BLL.DTOs.ServicesDTO.CreateServiceDTO
@using TSTB.Web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using TSTB.BLL.DTOs.LanguageDTO

@{
    ViewData["Title"] = SharedLocalizer["Create services"];


    int lngIndex = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Create services"]
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">
            <form asp-action="Create" id="form" enctype="multipart/form-data">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-6">
                            @foreach (LanguageDTO languageDTO in ViewBag.Languages)
                            {
                                <h2>@languageDTO.Name</h2>
                                <hr />
                                <input type="hidden" class="form-control" name="ServiceTranslates[@lngIndex].LanguageCulture" value="@languageDTO.Culture" />
                                <div class="form-group">
                                    <label>@SharedLocalizer["Name"]</label>
                                    <div id="tr-name-@lngIndex"></div>
                                </div>
                                <div class="form-group">
                                    <label>@SharedLocalizer["Description"]</label>
                                    <div id="description-editor-@lngIndex"></div>
                                </div>
                                <br />

                                <script>
                                            $(function () {
                                                $("#tr-name-@lngIndex").dxTextBox({
                                                    name: "ServiceTranslates[@lngIndex].Name",
                                                }).dxValidator({
                                                    validationRules: [{
                                                        type: "required",
                                                        message: '@SharedLocalizer["Enter name"]'
                                                    }]
                                                }).dxTextBox("instance");

                                                $("#description-editor-@lngIndex").dxHtmlEditor({
                                                    height: 300,
                                                    toolbar: {
                                                        items: [
                                                            "undo", "redo", "separator",
                                                            {
                                                                formatName: "header",
                                                                formatValues: [false, 1, 2, 3, 4, 5]
                                                            },
                                                            {
                                                                formatName: "size",
                                                                formatValues: ["8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt"]
                                                            },
                                                            "bold", "italic", "strike", "underline", "separator",
                                                            "alignLeft", "alignCenter", "alignRight", "alignJustify", "separator",
                                                            "orderedList", "bulletList", "separator",
                                                            "color", "background", "separator",
                                                            "link", "image", "separator",
                                                            "clear", "codeBlock", "blockquote",
                                                            {
                                                                widget: "dxButton",
                                                                options: {
                                                                    text: "Show markup",
                                                                    stylingMode: "text",
                                                                    onClick: function () {
                                                                        popupInstance.show();
                                                                    }
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    name: "ServiceTranslates[@lngIndex].Description"
                                                }).dxHtmlEditor("instance");
                                            });
                                </script>


                                lngIndex++;
                            }

                        </div>
                        <div class="col-md-6">
                            <h2>@SharedLocalizer["Data"]</h2>
                            <hr />
                            <div class="form-group">
                                <label>@SharedLocalizer["Picture(*.svg format)"] *</label>
                                <div id="files"></div>
                            </div>
                            <div class="form-group">
                                <label>@SharedLocalizer["Video Link"] *</label>
                                <div id="video"></div>
                            </div>
                            <div class="form-group">
                                <div id="published"></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="dx-fieldset">
                    <br />
                    <div id="summary"></div>
                    <br />
                    <div id="button"></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/CustomStore.js"></script>
    <script>
        $(function () {
             $("#published").dxCheckBox({
                text: '@SharedLocalizer["Active"]',
                name: 'IsPublish',
                value: true
             });
             $("#files").dxFileUploader({
                selectButtonText: '@SharedLocalizer["Choose a picture"]',
                name: "SVG",
                labelText: '@SharedLocalizer["or drag picture"]',
                accept: ".svg",
                uploadMode: "or drag",
                multiple: false,
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: '@SharedLocalizer["Upload picture (*.svg) "]'
                }]
            });
             $("#video").dxTextBox({
                name: "VideoLink"
            });
            $("#button").dxButton({
                text: '@SharedLocalizer["Add"]',
                type: "default",
                useSubmitBehavior: true,
            });
            $("#summary").dxValidationSummary({});
        });
    </script>

}