@using TSTB.Web.Areas.Admin.Utilities;
@using TSTB.Web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["News"];

}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["News"] (/News/Index)
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            let url = `@API.GetAllNews`;
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainer").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),
                onInitNewRow: function(e) {
                    var url = `@Url.Action("Create", "News", new { Area = "Admin" })`;
                    window.location = url;
                },
                selection: {
                    mode: "multiple"
                },
                "export": {
                    enabled: true,
                    fileName: "Documents",
                    allowExportSelectedData: true
                },
                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual"
                },
                paging: {
                    pageSize: 100
                },
                editing: {
                    useIcons: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: true
                },

                stateStoring: {
                    enabled: true,
                    type: "localStorage",
                    storageKey: "newsAdmin"
                },

                columns: [
                    {
                        caption: '@SharedLocalizer["Name"]',
                        dataField: "name",
                        allowHeaderFiltering: false
                    },
                    {
                        caption: '@SharedLocalizer["News category"]',
                        dataField: "newsCategoryName", 
                        allowHeaderFiltering: false
                    },
                    {
                        caption: '@SharedLocalizer["Date publish"]',
                        dataField: "datePublished",
                        allowHeaderFiltering: false,
                        dataType: "date",
                        format: "dd.MM.yyyy"
                    },
                    {
                        caption: '@SharedLocalizer["Active"]',
                        dataField: "isPublish",
                        width: "130",
                        allowHeaderFiltering: false
                    },
                    {
                        type: "buttons",
                        width: 110,
                        buttons: [
                            {
                                hint: '@SharedLocalizer["Edit"]',
                                icon: "edit",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("Edit", "News", new { Area = "Admin" })`;
                                    window.location = url + '?id=' + idString;
                                }
                            },
                            "delete"
                        ]
                    }
                ]
            });

        });
    </script>
}
