@using TSTB.Web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model ChangePasswordModel
@{
    ViewData["Title"] = SharedLocalizer["Change password"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Change user password"] - @Model.UserName</h2>
<hr />
<div class="row">
    <div asp-validation-summary="All" class="text-danger">
        @if (ViewBag.ErrorList != null)
        {
            foreach (var err in ViewBag.ErrorList)
            {
                <p>@err.Description</p>
            }
        }
    </div>
    <div class="col-md-4">
        <form asp-action="ChangePassword" id="form" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <input asp-for="UserName" class="form-control" value="@Model.UserName" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" value="@Model.Email" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Password">@SharedLocalizer["New password"]</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">@SharedLocalizer["Confirm password"]</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">@SharedLocalizer["Change"]</button>
        </form>
    </div>
</div>

