@using TSTB.Web.Areas.Admin.Utilities;
@using TSTB.Web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Users"];

}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Users"]
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">
        </div>
    </div>
</div>

@section Scripts{
    <script>
         var UserType = [
            { Id: 0, name: '@SharedLocalizer["Employee"]' },
            { Id: 1, name: '@SharedLocalizer["Entrepreneur"]' },
            { Id: 2, name: '@SharedLocalizer["Organization"]' }
        ];

        $(function () {
            let url = `@API.GetAllUsers`;
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainer").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),
                onInitNewRow: function(e) {
                    var url = `@Url.Action("Create", "ApplicationUser", new { Area = "Admin" })`;
                    window.location = url;
                },
                selection: {
                    mode: "multiple"
                },
                "export": {
                    enabled: true,
                    fileName: "Documents",
                    allowExportSelectedData: true
                },
                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual"
                },
                paging: {
                    pageSize: 100
                },
                editing: {
                    useIcons: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: true
                },

                stateStoring: {
                    enabled: true,
                    type: "localStorage",
                    storageKey: "userAdmin"
                },

                columns: [
                    {
                        caption: '@SharedLocalizer["Login"]',
                        dataField: "userName",
                        allowHeaderFiltering: false
                    },

                      {
                        caption: '@SharedLocalizer["Full name"]',
                        dataField: "firstName",
                          allowHeaderFiltering: false,
                          cellTemplate: function (container, options) {
                              console.log(options);
                              $("<div>")
                                  .text(options.data.lastName + ' ' + options.data.firstName + ' ' + options.data.secondName)
                                  .appendTo(container);
                          }
                      },

                    {
                        caption: '@SharedLocalizer["Email"]',
                        dataField: "email",
                        allowHeaderFiltering: false
                    },
                    {
                          dataField: "entreprenuerType",
                          caption: '@SharedLocalizer["User type"]',
                          lookup: {
                               dataSource: UserType,
                               displayExpr: "name",
                               valueExpr: "Id"
                                }
                     },

                    {
                        type: "buttons",
                        width: 110,
                        buttons: [
                            {
                                hint: '@SharedLocalizer["Edit"]',
                                icon: "edit",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("Edit", "ApplicationUser", new { Area = "Admin" })`;
                                    window.location = url + '?id=' + idString;
                                }
                            },
                            {
                                hint: '@SharedLocalizer["Change password"]',
                                icon: "key",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("ChangePassword", "ApplicationUser", new { Area = "Admin" })`;
                                    window.location = url + '?id=' + idString;
                                }
                            },
                            "delete"
                        ]
                    }
                ]
            });

        });
    </script>
}
