@model TSTB.BLL.DTOs.SayingsDTO.CreateSayingsDTO
@using TSTB.Web.Areas.Admin.Utilities;
@using TSTB.Web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using TSTB.BLL.DTOs.LanguageDTO
@{
    ViewData["Title"] = SharedLocalizer["Create saying"];
    int lngIndex = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Create saying"]
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">

            <form asp-action="Create" id="form" enctype="multipart/form-data">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-row">
                        <div class="col-md-11">
                            @foreach (LanguageDTO languageDTO in ViewBag.Languages)
                            {

                                <h3>@languageDTO.Name</h3>
                                <hr />
                                <input type="hidden" class="form-control" name="SayingsTranslates[@lngIndex].LanguageCulture" value="@languageDTO.Culture" />
                                <div class="form-group">
                                    <label>@SharedLocalizer["Author"] *</label>
                                    <div id="author-name-@lngIndex"></div>

                                </div>
                                <div class="form-group">
                                    <label>@SharedLocalizer["Author position"] *</label>
                                    <div id="author-pos-@lngIndex"></div>
                                </div>
                                <div class="form-group">
                                    <label>@SharedLocalizer["Saying"] *</label>
                                    <div id="text-@lngIndex"></div>
                                </div>
                                <script>
                                    $(function () {
                                        $("#author-name-@lngIndex").dxTextBox({
                                            name: "SayingsTranslates[@lngIndex].Author"
                                        }).dxValidator({
                                            validationRules: [{
                                                type: "required",
                                                message: '@SharedLocalizer["Enter author name"]'
                                            }]
                                        });
                                         $("#author-pos-@lngIndex").dxTextBox({
                                            name: "SayingsTranslates[@lngIndex].AuthorPosition"
                                        }).dxValidator({
                                            validationRules: [{
                                                type: "required",
                                                message: '@SharedLocalizer["Enter author position"]'
                                            }]
                                        });

                                        $("#text-@lngIndex").dxTextBox({
                                            name: "SayingsTranslates[@lngIndex].SayingsText"
                                        }).dxValidator({
                                            validationRules: [{
                                                type: "required",
                                                message: '@SharedLocalizer["Enter saying"]'
                                            }]
                                        });

                                    });
                                </script>


                                lngIndex++;
                            }
                            <br />
                                <div class="form-group">
                                    <div id="published"></div>
                                </div>

                            </div>
                        </div>
                </div>
                <div class="dx-fieldset">
                    <br />
                    <div id="summary"></div>
                    <br />
                    <div id="button"></div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts
{

    <script>
       

        $(function () {           

            $("#published").dxCheckBox({
                text: '@SharedLocalizer["Active"]',
                name: 'IsPublish',
                value: true
            });

            $("#button").dxButton({
                text: '@SharedLocalizer["Add"]',
                type: "success",
                useSubmitBehavior: true,
            });

            $("#summary").dxValidationSummary({});
        });
    </script>
}