@using TSTB.Web
@using TSTB.BLL.DTOs.LanguageDTO
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Css{
    @RenderSection("Css", required: false)
}

<div class="h-full xl:container xl:px-0 px-4">
    <div class="bg-white sm:pt-12 pt-4 relative">
        <h1 class="font-bold text-2xl sm:text-3xl lg:max-w-3xl lg:text-3xl text-primary">
            @SharedLocalizer["Press releases"]
        </h1>
        <div class="flex flex-wrap max-w-5xl -mt-1 -mb-1 pt-6">
            <span class="tag" id="News"><a asp-area="" asp-controller="News" asp-action="Index">@SharedLocalizer["News"]</a>  </span>
            <span class="tag" id="Projects"> <a asp-area="" asp-controller="CompletedProject" asp-action="Index">@SharedLocalizer["Completed projects"]</a> </span>
            <span class="tag" id="NewsPapers"> <a asp-area="" asp-controller="NewsPaper" asp-action="Index">@SharedLocalizer["News papers"]</a> </span>
        </div>
        <div class="h-1 w-full bg-gray-100 sm:mt-10 mt-4"></div>
    </div>

    @RenderBody()
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}