@model TSTB.BLL.DTOs.MenuModelDTO.CreateMenuDTO
@using TSTB.Web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using TSTB.BLL.DTOs.LanguageDTO

@{
    ViewData["Title"] = SharedLocalizer["Create menu"];


    int lngIndex = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Create menu"]
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">
            <form asp-action="Create" id="form" enctype="multipart/form-data">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-6">
                            @foreach (LanguageDTO languageDTO in ViewBag.Languages)
                            {
                                <h2>@languageDTO.Name</h2>
                                <hr />
                                <input type="hidden" class="form-control" name="MenuTranslates[@lngIndex].LanguageCulture" value="@languageDTO.Culture" />                         
                                <div class="form-group">
                                    <label>@SharedLocalizer["Name"]</label>
                                    <input type="text" class="form-control" name="MenuTranslates[@lngIndex].Name" />
                                </div>
                                <br />
                                lngIndex++;
                            }

                        </div>
                        <div class="col-md-6">
                            <h2>@SharedLocalizer["Data"]</h2>
                            <hr />


                            <div class="form-group">
                                <label>@SharedLocalizer["Link"]</label>
                                <input type="text" class="form-control" name="Link" />
                            </div>


                            <div class="form-group">
                                <label>@SharedLocalizer["Order"]</label>
                                <div id="sortNumber"></div>
                            </div>
                            <div class="form-group">
                                <div id="published"></div>
                            </div>
                            <div class="form-group">
                                <label>@SharedLocalizer["Parent menu"]</label>
                                <div id="menuSelection"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="dx-fieldset">
                    <br />
                    <div id="summary"></div>
                    <br />
                    <div id="button"></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/CustomStore.js"></script>
    <script>
        var getMenus = new DevExpress.data.AspNet.createStore({
            key: "id",
            loadUrl: "/api/MenuAPI",
            onBeforeSend: function (method, ajaxOptions) {
                ajaxOptions.xhrFields = { withCredentials: true };
            }
        });

        $(function () {
            $("#menuSelection").dxSelectBox({
                dataSource: getMenus,
                displayExpr: "name",
                valueExpr: "id",
                name: 'ParentId',
                searchEnabled: true
            });

            $("#sortNumber").dxNumberBox({
                value: 0,
                min: 0,
                showSpinButtons: true,
                name: 'Order',
            });

            $("#published").dxCheckBox({
                value: true,
                text: '@SharedLocalizer["Active"]',
                name: 'IsPublish',
            });

            $("#button").dxButton({
                text: '@SharedLocalizer["Add"]',
                type: "default",
                useSubmitBehavior: true,
            });
            $("#summary").dxValidationSummary({});
        });
    </script>

}